{% extends 'layout.html.twig' %}


{% block title_page %}
    gérer les sites
{% endblock %}

{% block main %}

    <table>
        <tr>
            <td> <strong>Sites</strong> </td>
            <td> <strong>Actions</strong> </td>
        </tr>
        {% for site in sites %}


            <tr>
                <td>{{ site.getNom() }}</td>
                <td><a href="{{ url("site_edit", {'id':site.getId()}) }}">Modifier</a> - <a href="{{ url("site_delete", {'id':site.getId()}) }}">Supprimer</a> </td>
            </tr>

        {% endfor %}



        <tr>
            <td>
                {{ form_start (siteForm) }}
                {{ form_widget(siteForm) }}
            </td>
            <td><button type="submit">Enregistrer</button> </td>
            {{ form_end(siteForm) }}
        </tr>
    </table>
{% endblock %}