{% extends 'layout.html.twig' %}


{% block title_page %}
   gérer les villes
{% endblock %}

{% block main %}

    <table>
        <tr>
            <td> <strong>villes</strong> </td>
            <td> <strong>codes postal</strong> </td>
            <td> <strong>Actions</strong> </td>
        </tr>
        {% for ville in villes %}


            <tr>
                <td>{{ ville.getNom() }}</td>
                <td>{{ ville.getCodePostal() }}</td>
                <td><a href="#">Modifier</a> - <a href="#">Supprimer</a> </td>
            </tr>


        {% endfor %}

        <tr>
            <td>
                {{ form_start (villeForm) }}
                {{ form_widget(villeForm) }}
            </td>
            <td><button type="submit">Ajouter</button> </td>
            {{ form_end(villeForm) }}
        </tr>
    </table>
{% endblock %}