{% extends 'layout.html.twig' %}
{% block title_page %}
    <h1>Créer une sortie</h1>
{% endblock %}
{% block main %}
    <div class="form_sortie">
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
        <button><a href="{{ path('accueil') }}">Annuler</a></button>
    {{ form_end(sortieForm) }}
    </div>
    <button><a href="{{ path('lieu') }}">Ajouter Lieu</a></button>

{% endblock %}
