{% extends 'layout.html.twig' %}
{% block title_page %}
    <h1>Créer une sortie</h1>
{% endblock %}
{% block form %}
    <!--Ajouter les balise form pour afficher le formulaire-->
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}

    {#
    {{ form_start(siteForm) }}
    {{ form_widget(siteForm) }}
    {{ form_end(siteForm) }}


    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    {{ form_end(villeForm) }}


    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    {{ form_end(lieuForm) }}
    #}

    <button><a href="{{ path('accueil') }}">Annuler</a></button>
{% endblock %}
