{% extends 'layout.html.twig' %}
{% block main %}

    <table>
        <tr>
            <td>Nom de la sortie : </td>
            <td>{{ sortie.getNom() }}</td>
        </tr>
        <tr>
            <td>Date et heure de la sortie : </td>
            <td>{{ sortie.getDateHeureDebut()|date('d-m-y h:i') }}</td>
        </tr>
        <tr>
            <td>Date limite d'inscription : </td>
            <td>{{ sortie.getDateLimiteInscription()|date('d-m-y h:i')}}  </td>
        </tr>
        <tr>
            <td>Nombre de places : </td>
            <td>{{ sortie.getNbInscriptionsMax() }}</td>
        </tr>
        <tr>
            <td>Durée : </td>
            <td>{{ sortie.getDuree()|date(' h:i')  }}</td>
        </tr>
        <tr>
            <td>Description et infos : </td>
            <td>{{ sortie.getInfosSortie() }}</td>
        </tr>
        <tr>
            <td>Ville organisatrice : </td>
            <td>{{ sortie.getSite() }}</td>
        </tr>
        <tr>
            <td>lieu : </td>
            <td>{{ sortie.lieu().getNom() }}</td>
        </tr>
        <tr>
            <td>Rue : </td>
            <td>{{ sortie.lieu().getRue() }}</td>
        </tr>
        <tr>
            <td>Code Postal : </td>
            <td>{{ sortie.lieu().ville().getCodePostal() }}</td>
         
        </tr>
        <tr>
            <td>Rue : </td>
            <td>{{ sortie.lieu().getRue() }}</td>
        </tr>
        <tr>
            <td>Latitude : </td>
            <td>{{ sortie.lieu().getLatitude() }}</td>
        </tr>
        <tr>
            <td>Longitude : </td>
            <td>{{ sortie.lieu().getLongitude() }}</td>
        </tr>
    </table>
{% endblock %}