{% extends 'layout.html.twig' %}
{% block title %}
<title>Accueil!</title>
{% endblock %}
{% block nav %}
    <li> <a href="{{ path('sites') }}">sites</a></li>
    <li> <a href={{ path('villes') }}>villes</a></li>
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="index-page">
    <div class="index-user_name">
      Date du jour : {{ "now"|date('d-m-y')}} <br>
      Participant : {{ app.user.username }}
    </div>
    <br>
    <div class="accueil">
        {% include 'sorties/filter.html.twig' with {form: form} only%}
        <div class="index-table">
            <table>
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôturé</th>
                        <th>Inscription/Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for sortie in sorties %}
                <tbody>
                    <tr>
                        <td>{{ sortie.getNom() }}</td>
                        <td>{{ sortie.getDateHeureDebut()|date('d-m-y  h:i') }}</td>
                        <td>{{ sortie.getDateLimiteInscription()|date('d-m-y')}}</td>
                        <td>{{ sortie.getInscrits()|length }} / {{ sortie.getNbInscriptionsMax() }}</td>
                        <td>{{ sortie.etat().getLibelle() }}</td>
                        <td>X</td>
                        <td>{{ sortie.participants().getNom() }}</td>
                        <td>
                            <a href={{ path('details',{"id":sortie.getId()}) }}>Afficher</a>
                            {% if(sortie.participants().getUsername() == app.user.username) %}
                                <a href={{ path('annuler',{"id":sortie.getId()}) }}>Annuler</a>
                            {% endif %}
                            {%  if ( sortie.etat().getLibelle()  == 'Ouvert'
                                and sortie.getDateLimiteInscription()|date('d-m-y') < "now"|date('d-m-y')
                                and  sortie.getInscrits()|length  < sortie.getNbInscriptionsMax() )%}
                                <a href={{ path('inscrit',{"id":sortie.getId()}) }} >Inscrit</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <button class="index-buton"><a href="{{ path('sorties') }}">Créer une sortie</a></button>
    </div>
    </div>
{% endblock %}
