<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}sortir.com{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}


    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
<div class="Page">

    <h1>Sortir.com</h1>

    <header class="Header Page_Header">
        <nav class="Navbar Page_Nav">
            <ul>
            {% block nav %}
               <li> <a href="#">Accueil</a></li>
               <li> <a href="#">Mon profil</a></li>
                <li><a href="{{ path('app_logout')}}">Se déconnecter</a></li>
            {% endblock %}
            </ul>
        </nav>

       <aside>
            Date du jour : {{ "now"|date('d-m-y')}} <br>
            Participant : {{ app.user.username }}
        </aside>

    </header>

    <div class="Page_Contents">
        <main >
            {% block main %}{% endblock %}
        </main>
        <aside class="Page_Aside">

        </aside>
    </div>

    <footer class="Footer Page_Footer">

    </footer>
</div>
</body>
</html>
