{% extends 'layout.html.twig' %}

{# {% block title_page %} {{ user.getPrenom() }} {{ user.getNom() }} {% endblock %} #}
{% block title_page %} {{ user.getUsername() }} {% endblock %}


{% block main %}

<table>
    <tr>
        <td>pseudo</td>
        <td> : </td>
        <td>{{ user.getUsername() }}</td>
    </tr>
    <tr>
        <td>Prénom</td>
        <td> : </td>
        <td>{{ user.getPrenom() }}</td>
    </tr>
    <tr>
        <td>Nom</td>
        <td> : </td>
        <td>{{ user.getNom() }}</td>
    </tr>
    <tr>
        <td>Téléphone</td>
        <td> : </td>
        <td>{{ user.getTelephone() }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td> : </td>
        <td>{{ user.getMail() }}</td>
    </tr>
    <tr>
        <td>Ville de rattachement</td>
        <td> : </td>
        <td>{{ user.site.getNom() }}</td>
    </tr>
</table>

<div class="button">
    {% if(user.getusername() == app.user.username) %}
    <button><a href="{{ path('modify', {'id':app.user.id}) }}">Modifier</a></button>
    {% endif %}
    <button type="button" id="btnRetour" class="button btn-sm" href="#">Retour</button>
</div>



{% endblock %}