{% extends 'layout.html.twig' %}

{% block main %}
    <h1>{{ user.getpseudo() }}</h1>

    <div>

        <label>Prenom : </label><input type="text" readonly="readonly"> {{ user.getPrenom() }}<br>
        <label>Nom : </label><input type="text" readonly="readonly"> {{ user.getNom() }}<br>
        <label>Téléphone : </label><input type="text" readonly="readonly"> {{ user.getTelephone() }}<br>
        <label>Email : </label><input type="text" readonly="readonly"> {{ user.getMail() }}<br>
        <label>Ville de rattachement : </label><input type="text" readonly="readonly"> {{ user.getSite() }}<br>

        <!--<button><a>modifier mon profile </a></button>-->
        <!--<button><a> retour </a></button>-->

    </div>
{% endblock %}